<h1>Youngest director</h1>

<p>The youngest director in our dataset right now is 
<a href="/directors/2518227">Celine Song</a>

born on September 19, 1988.


</p>

<p>(<a href="http://strftime.net/" target="_blank">http://strftime.net/</a> is handy for putting together the formatting strings for the <code>.strftime</code> method.)</p>

    <a href="/about.html">About</a>
  </body>
</html>
